{% extends "admin/base.twig" %}

{% block title %}VegaPo - {{ lang.SUPERMARKET_EDIT }} {% endblock %}

{% block header %} {{ lang.SUPERMARKET_EDIT }} {% endblock %}

{% block content %}


    <form class="row" enctype="multipart/form-data" method="post">
        <div class="col-md-6">

            <div class="form-group">
                <label for="supermarketName">{{ lang.SUPERMARKET_EDIT }}</label>
                <input type="text" class="form-control" name="supermarketName" id="supermarketName" value="{{ supermarket.name }}" required>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="file">{{ lang.IMAGE }}</label>
                        <input type="file" id="file" name="file" class="form-control-file">
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{ url.SUPERMARKET_UPLOADS }}{{ supermarket.image }}" alt="" width="100px">
                    <input type="hidden" value="{{ supermarket.image }}" name="image_old">
                </div>
            </div>


            <div class="form-group">
                <label for="note">Note</label>
                <textarea name="note" id="note" cols="30" rows="2" class="form-control">{{ supermarket.note }}</textarea>
            </div>

            <div class="form-group">
                <label for="note">Description</label>
                <textarea name="description" id="description" cols="30" rows="10" class="form-control">{{ supermarket.description }}</textarea>
            </div>

            <div class="form-group">
              <label for="edit_comment">
              {{ lang.EDITS_NOTE }}
            </label>
            <textarea name="edit_comment"
                      id="edit_comment"
                      cols="30"
                      rows="2"
                      class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ url.SUPERMARKET_ADMIN_DELETE }}{{ supermarket.id }}/{{ supermarket.image }}" class="btn btn-danger" id="deleteConfirm">{{ lang.REMOVE }}</a>

            <a class="btn btn-info"
               href="{{ url.ADMIN_EDITS }}?object_type=store&object_id={{ supermarket.id }}"
               role="button"
               target="_blank">
              {{ lang.EDITS }}
            </a>
        </div>

    </form>


{% endblock %}
