{% extends "admin/base.twig" %}

{% block title %}VegaPo - {{ lang.USERS_LIST }} {% endblock %}

{% block header %} {{ lang.USERS_LIST }} {% endblock %}

{% block content %}


    <div class="row">

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>{{ lang.USERNAME }}</th>
                            <!-- <th>{{ lang.FIRST_NAME }}</th>
                            <th>{{ lang.LAST_NAME }}</th> -->
                            <th>{{ lang.CONTACT_EMAIL }}</th>
                            <th>{{ lang.USER_TYPE }}</th>
                            <th>{{ lang.COUNTRY }}</th>
                            <th>{{ lang.REGISTERED_AT }}</th>
                            <th>{{ lang.LAST_LOGIN }}</th>
                            {% if session.user_role > 35 %}
                                <th>{{ lang.ACTION }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if data %}
                        {% for item in data %}

                        <tr>
                            <td>{{ item.user_id }}</td>
                            <td>{{ item.username }}</td>
                            <!-- <td>{{ item.first_name }}</td>
                            <td>{{ item.last_name }}</td> -->
                            <td>{{ item.email }}</td>
                            <td>{{ constant("USERS")[item.role] }}</td>
                            <td>{{ item.country }}</td>
                            <td>{{ item.created_at|date('d. m.') }}</td>
                            <td>{{ item.last_activity|date('d. m.') }}</td>

                            {% if session.user_role > 35 %}
                                {% if item.role < 30 %}
                                    <td>
                                        <a href="/admin/users/change_role/{{ item.user_id }}/34">Make admin</a>
                                    </td>
                                {% elseif item.role > 30 and item.role < 70 %}
                                    <td>
                                    {% if session.user_role > 75 %}
                                        <a href="/admin/users/change_role/{{ item.user_id }}/74">Make superadmin</a>
                                    {% endif %}
                                      <a href="/admin/users/change_role/{{ item.user_id }}/4">Make user</a>

                                    </td>
                                   {% else %}
                                     <td>
                                        {% if item.role < 75 and session.user_role > 75 %}
                                         <a href="/admin/users/change_role/{{ item.user_id }}/34">Make admin</a>
                                        {% endif %}
                                     </td>
                                {% endif %}

                            {% endif %}
                        </tr>

                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
