{% extends "base.twig" %}

{% block title %} VegaPo - {{ lang.LOGIN }} {% endblock %}

{% block content %}

<header id="main">
  <div class="container">
    <div class="inner">
      {{ include('modules/flash.twig') }}  
      <div class="row">
        <div class="col-md-12">
          <h1>
            {{ lang.RECOVER_PASSWORD }}
          </h1>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12">
          <form action="" method="post">
            <div class="form-group row">
              <label class="col-sm-3 
                            col-form-label" 
                     for="email">
                {{ lang.EMAIL }}
              </label>
              <div class="col-sm-8">
                <input type="email" 
                       class="form-control" 
                       autofocus 
                       required 
                       id="email" 
                       name="email" 
                       aria-describedby="emailHelp" 
                       placeholder="Enter email">
              </div>
            </div>
            <button type="submit" 
                    class="btn btn-primary">
              {{ lang.SUBMIT }}
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</header>


{% endblock %}