{% extends "web/base.twig" %}

{% block content %}

<section id="last">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center">
                <h2 class="margin-top-0 wow fadeIn">{{ lang.GREETING }} {{session.username}}</h2>
                <hr class="primary">
                <p>{{ lang.WELCOME_BACK }}</p>
            </div>
            	<div class="col-lg-2">
                            <div>
                              <a href="/produkty/pridat" class="btn btn-primary">{{ lang.PRODUCT_NEW }}</a> 
                            </div> <br>
                            <div>
                             <a href="/users/update" class="btn btn-primary">{{ lang.PROFILE_EDIT }}</a>
                            </div><br>
                            <div>
                               <a href="/produkty/{{ session.user_id }}" class="btn btn-primary">{{ lang.PRODUCTS_MY }}</a>
                            </div>
                    </div>
            	</div>

            </div>
            
        </div>
    </div>
</section>

{% endblock %}