{% extends "base.twig" %}

{% block title %}VegaPo - {{ lang.LOCALE }} {% endblock %}

{% block header %} {{ lang.LOCALE }}{% endblock %}

{% block button %}
  <a class="btn btn-info"
     href="{{ url.ADMIN_EDITS }}?object_type=locale"
     role="button"
     target="_blank">
    {{ lang.EDITS }}
  </a>
{% endblock %}

{% block content %}
    <div class="text-center">
      {{ include('web/modules/flash.twig') }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
              <form method="post">
                {% if state != "locked" %}

                  {% if state == "view" %}
                    <button type="submit" class="btn btn-primary">Edit</button>

                  {% elseif state == "edit" %}
                    {# ugly but working #}
                    <script>
                      window.forceclose = true;

                      window.onbeforeunload = function(e){
                        if (window.forceclose === true) {
                        var request = new XMLHttpRequest();
                        request.open("POST","locale/forceclose",false);
                        request.send();
                        return "";
                        }
                      };

                      function skipforceclose() {
                          window.forceclose = false;
                      };
                    </script>
                    <button type="submit" class="btn btn-primary" onclick="skipforceclose()">Save</button>
                  {% endif %}
                {% endif %}

                <table class="table table-striped sortable table-sm">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Param</th>
                        <th>SK</th>
                        <th>CZ</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, val in locale %}
                        {% if not val.sk or not val.cz %}
                        <tr class="table-danger">
                        {% else %}
                        <tr>
                        {% endif %}
                          <th scope="row" width="100px">{{ key }}</th>
                          <td><textarea {% if state != "edit" %}readonly{% endif %} type="text" class="form-control" name="sk{{ key }}">{{ val.sk }}</textarea></td>
                          <td><textarea {% if state != "edit" %}readonly{% endif %} type="text" class="form-control" name="cz{{ key }}">{{ val.cz }}</textarea></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
              </form>
            </div>
        </div>
    </div>
{% endblock %}
