{% extends "web/base.twig" %}

{% block content %}

<section id="last">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="margin-top-0 wow fadeIn">{{ lang.CONTACT }}</h2>
                <hr class="primary">
                <p>{{ lang.CONTACT_PAGE_TEXT }}</p>
            </div>
            <div class="col-lg-10 offset-lg-1 text-center">
                <form class="contact-form row" id="contactForm" action="/home/contactAjax/" method="POST">
                    <div class="col-md-4 form-group">
                        <label></label>
                        <input type="text" name="author" class="form-control" placeholder="{{ lang.NAME }}">
                    </div>
                    <div class="col-md-4 form-group">
                        <label></label>
                        <input type="text" name="email" class="form-control" placeholder="{{ lang.CONTACT_EMAIL }}">
                    </div>
                    <div class="col-md-4 form-group">
                        <label></label>
                        <input type="text" name="subject" class="form-control" placeholder="{{ lang.SUBJECT}}">
                    </div>
                    <div class="col-md-12 form-group">
                        <label></label>
                        <textarea class="form-control" name="message" rows="9" placeholder="{{ lang.YOUR_MESSAGE_HERE }}"></textarea>
                    </div>
                    <div class="col-md-4 offset-md-4 form-group">
                        <label></label>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">{{ lang.SUBMIT }} <i class="ion-android-arrow-forward"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="/bower_components/jquery-validation/jquery.validate.min.js"></script>

<script>

$(function($) {

    $.validator.setDefaults({
        errorClass: 'form-control-feedback',
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-danger'),
            $(element).closest('input').addClass('form-control-danger')
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-danger').addClass('has-success'),
            $(element).closest('input').removeClass('form-control-danger').addClass('form-control-success');
        }

    });

    jQuery.extend(jQuery.validator.messages, {
        required: "Toto pole je potrebné.",
        remote: "Please fix this field.",
        email: "Prosím použite reálnu adresu.",
        url: "Please enter a valid URL.",
        date: "Please enter a valid date.",
        dateISO: "Please enter a valid date (ISO).",
        number: "Please enter a valid number.",
        digits: "Please enter only digits.",
        creditcard: "Please enter a valid credit card number.",
        equalTo: "Please enter the same value again.",
        accept: "Please enter a value with a valid extension.",
        maxlength: jQuery.validator.format("Prosím nevkladajte viac, ako {0} znakov."),
        minlength: jQuery.validator.format("Prosím vložte minimálne {0} znakov."),
        rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
        range: jQuery.validator.format("Please enter a value between {0} and {1}."),
        max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
        min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
    });

    var form = $( "#contactForm" );

    form.submit(function(e) {
        e.preventDefault();
    })

    form.validate({
        rules: {
            email: {
                required: true,
                email: true 
            },
            subject: {
                required: true,
                minlength: 5,
                maxlength: 45
            },
            message: {
                required: true,
                minlength: 10
            },
            author: {
                required: true,
                minlength: 3,
                maxlength: 40
            }
        }, 
        messages: {
            author: {
                minlength: jQuery.validator.format("Prosím vložte minimálne {0} znaky."),
            }
        },

        submitHandler: function(form, event) {
            event.preventDefault()

            $.ajax({
                type: $(form).attr('method'),
                url: $(form).attr('action'),
                data: $(form).serialize(),
                success: function (data) {
                    alert(data)
                    console.log(this.data)
                },
                error: function (xhr, desc, err) {
                    alert('error')
                    console.log(err)
                    console.log(xhr)
                    console.log(this.url)
                    console.log(this.type)
                    console.log(this.data)
                }
            }); 
        }
    })


});




</script>

{% endblock %}