{% extends "admin/base.twig" %}

{% block title %}VegaPo - {{ lang.TAG_EDIT }} {% endblock %}

{% block header %} {{ lang.TAG_EDIT }} {% endblock %}

{% block content %}


    <form class="row" enctype="multipart/form-data" method="post">
        <div class="col-md-6">

            <div class="form-group">
                <label for="name">{{ lang.TAG_EDIT }}</label>
                <input type="text" class="form-control" name="name" id="name" value="{{ tag.name }}" required>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="file">{{ lang.IMAGE }}</label>
                        <input type="file" id="file" name="file" class="form-control-file">
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{ url.TAG_UPLOADS }}{{ tag.image }}" alt="" width="100px">
                    <input type="hidden" value="{{ tag.image }}" name="image_old">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">{{ lang.SUBMIT }}</button>
            <a href="{{ url.TAG_ADMIN_DELETE }}{{ tag.id }}/{{ tag.image }}" class="btn btn-danger" id="deleteConfirm">{{ lang.REMOVE }}</a>

        </div>

    </form>


{% endblock %}