{% extends "admin/base.twig" %}


{% block title %}VegaPo - Upraviť Ohlas {% endblock %}

{% block header %} Upraviť Ohlas {% endblock %}

{% block content %}


    <form class="row" enctype="multipart/form-data" method="post">
        <div class="col-md-6">

            <div class="form-group">
                <label for="name">Meno</label>
                <input type="text" class="form-control" name="name" id="name" value="{{ testimonial.name }}" required>
            </div>


            <div class="form-group">
                <label for="note">Obsah</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control">{{ testimonial.message }}</textarea>
            </div>

            <input type="hidden" name="id" value="{{ testimonial.id }}">

            <button type="submit" class="btn btn-primary">{{ lang.SUBMIT }}</button>
            <a href="/admin/testimonials/remove/{{ testimonial.id }}" class="btn btn-danger" id="deleteConfirm">
                {{ lang.REMOVE }}
            </a>

        </div>

    </form>


{% endblock %}