{% extends "web/base.twig" %}

{% block title %} VegaPo - {{ lang.PRODUCTS }} {% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="wow fadeInUp text-center"><h2>{{ lang.PRODUCTS }} {{ current_category ? "| " ~ current_category.name }} {{ current_supermarket ? "| " ~ current_supermarket.name}}</h2></div> <br>
	
            <div class="flex-row row">

                {% for product in products %}
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <a href="/produkty/produkt/{{ product.slug }}">
                    <img class="b-lazy card-img-top img-fluid" src="https://dummyimage.com/250" data-src="{{ "/uploads/products/#{ cc }/450x450/#{product.image}" }}">

                    <div class="card-block">
                        <p class="card-title">{{ product.name }}</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
            </div>

        <br>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for i in 1..number_of_pages if number_of_pages %}
                    <li class="page-item"><a class="page-link" href="/produkty/{{ current_category ? current_category.slug : 0 }}/{{ current_supermarket ? current_supermarket.slug : 0 }}/{{ current_tag ? current_tag.slug : 0}}/{{ i }}">{{ i }}</a></li>

                    {% endfor %}
                </ul>
            </nav>
        </div>

	</div>
</section>


{% endblock %}