{% extends "web/base.twig" %}

{% block title %} VegaPo - {{ lang.PRODUCTS }} {% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="wow fadeInUp text-center">
            <h2>{{ lang.PRODUCTS }} 
                {{ current_category ? "| " ~ current_category.name }} 
                {{ current_supermarket ? "| " ~ current_supermarket.name}}
                {{ current_tag ? "| " ~ current_tag.name}}
            </h2>
        </div>
        <br>
	
            <div class="flex-row row">

                {% for product in products %}
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <a href="/produkty/produkt/{{ product.slug }}">
                    <img class="b-lazy card-img-top img-fluid" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ "/uploads/products/#{ cc }/450x450/#{product.image}" }}">

                    <div class="card-block">
                        <p class="card-title">{{ product.name }}</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
            </div>

        <br>
        <div class="row">
            <nav>
                <ul class="pagination">
                    {% for i in 1..number_of_pages if number_of_pages %}
                    <li class="page-item {{ i == current_page ? 'active' }}">
                        <a class="page-link" href="{{ buildUrl(params, 'p', i) }}">
                                {{ i }}
                        </a>
                    </li>

                    {% endfor %}
                </ul>
            </nav>
        </div>

	</div>
</section>


{% endblock %}