{% extends "base.twig" %} 

{% block title %}
  {{ lang.PRODUCT_ADD }}
{% endblock %} 

{% block content %}
<section id="main">
  <div class="container">
    <h2 class="text-center fadeInUp wow">
      {{ lang.PRODUCT_ADD }}
    </h2>
    <hr> {% if supermarkets and categories %}
    <form class="row" enctype="multipart/form-data" method="post">
      <div class="col-md-5">
          {{ include('web/modules/flash.twig') }}
          <div class="form-group">
            <label for="productName">
              {{ lang.PRODUCT_NAME }}
            </label>
            <input type="text" class="form-control" 
                   name="productName" id="productName" 
                   value="{{ productName }}" autofocus required>
            <small class="form-text text-muted">
              napr. Alpro Ryžový Nápoj.
            </small>
          </div>
          <div class="form-group">
            <label for="productPrice">
              {{ lang.PRICE }}
            </label>
            <input type="number" class="form-control" name="productPrice" 
                   id="productPrice" step="any" value="{{ productPrice }}" 
                   required>
          </div>
          <div class="form-group barcode-group">
              <label for="barcode">
                {{ lang.BARCODE }}
              </label>
              <div class="input-group">
                <input type="text" class="form-control isbn" name="barcode" 
                       id="barcode" value="{{ barcode }}">
                <span class="input-group-btn">
                   <button class="btn btn-secondary button scan" type="button">
                    <i class="ion-ios-barcode-outline" aria-hidden="true"></i>
                  </button>
                  <input type="file" class="barcodefile" capture hidden>
                </span>
              </div>
          </div>
          {% if categories %}
          <div class="form-group">
            <label for="selectCategory">
              {{ lang.CATEGORY }}
            </label>
            <select class="form-control" name="selectCategory" 
                    id="selectCategory" required>
                {% for category in categories %}
                  <option value="{{ category.id }}" 
                          {{ category.id == selectCategory ? 'selected'}}>
                    {{ category.name }}
                  </option>
                {% endfor %}
            </select>
          </div>
          {% endif %}
          <div class="form-group">
            <label for="note">
              {{ lang.NOTE }}
            </label>
            {% spaceless %}
            <textarea name="note" id="note" class="form-control">
              {{ note }}
            </textarea>
          {% endspaceless %}
          </div>
          <div class="form-group">
            <label for="file">
              {{ lang.IMAGE }}
            </label>
            <input type="file" id="file" name="file" 
                  class="form-control-file" required>
          </div>
          <div class="form-group">
            <label for="ingredients">
              {{ lang.INGREDIENTS }}
            </label>
            <input type="file" id="ingredients" name="ingredients" 
                   class="form-control-file">
          </div>
        </div>
        {% if supermarkets %}
        <div class="col-md-3 offset-md-1">
          <p>Obchody</p>
          {% for supermarket in supermarkets %}
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" id="supermarket" name="supermarket[]" 
                         class="custom-control-input" 
                         value="{{ supermarket.id }}" 
                         {{ (supermarket.id in selectedsupermarkets) ? 'checked' : '' }}>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">
                    {{ supermarket.name }}
                  </span>
                </label>
            </div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="col-md-3">
          <p>Tagy</p>
          {% if tags %} {% for tag in tags %}
            <div class="form-group">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" id="tag" name="tag[]" 
                       class="custom-control-input" 
                       value="{{ tag.id }}" {{ (tag.id in selectedtags) ? 'checked' }}>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  {{ tag.name }}
                </span>
              </label>
            </div>
          {% endfor %} {% endif %}
          <div class="form-group">
            <label>Typ</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" 
                       name="type" value="1">
                100% Vegan
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" 
                       name="type" value="2" checked>
                Pravdepodobne Vegan
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" 
                       name="type" value="3">
                Živočíšne éčka
              </label>
            </div>
            <small  class="form-text text-muted">
              Viac info <a href="#">tu</a>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary">
            {{ lang.SUBMIT }}
          </button>
        </div>
    </form>
    {% else %}
    <h3>
      Please Create Supermarket and Category before product
    </h3> 
  {% endif %}
</div>
</section>
{% endblock %} {% block scripts %}

<script type="text/javascript" 
        src="https://serratus.github.io/quaggaJS/v1.0.0-beta.1/examples/js/quagga.js">
</script>

<script type="text/javascript">
var Quagga = window.Quagga;
var App = {
    _scanner: null,
    init: function() {
        this.attachListeners();
    },
    decode: function(src) {
        Quagga
            .decoder({ readers: ['ean_reader'] })
            .locator({ patchSize: 'medium' })
            .fromSource(src, { size: 800 })
            .toPromise()
            .then(function(result) {
                document.querySelector('input.isbn').value = result.codeResult.code;
            })
            .catch(function() {
                document.querySelector('input.isbn').value = "Not Found";
            })
            .then(function() {
                this.attachListeners();
            }.bind(this));
    },
    attachListeners: function() {
        var self = this,
            button = document.querySelector('.barcode-group .button.scan'),
            fileInput = document.querySelector('.barcode-group input[type=file]');

        button.addEventListener("click", function onClick(e) {
            e.preventDefault();
            button.removeEventListener("click", onClick);
            fileInput.click();
        });

        fileInput.addEventListener("change", function onChange(e) {
            e.preventDefault();
            fileInput.removeEventListener("change", onChange);
            if (e.target.files && e.target.files.length) {
                self.decode(e.target.files[0]);
            }
        });
    }
};
App.init();
</script>
{% endblock %}