{% extends "web/base.twig" %}

{% block title %} VegaPo - {{ product.name }} {% endblock %}

{% block header %} 
<link rel="stylesheet" href="/bower_components/fancybox/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  var cc = "{{ cc }}";
  if (cc == 'sk') {
     js.src = "//connect.facebook.net/sk_SK/sdk.js#xfbml=1&version=v2.9";
  } else {
     js.src = "//connect.facebook.net/cz_CZ/sdk.js#xfbml=1&version=v2.9";
  }
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section id="white">
	<div class="container">
		<div class="wow fadeInUp text-center"><h2>{{ product.name }}</h2></div> <br>
		  <div class="row justify-content-start">
            <div class="col-lg-6 col-md-8 align-self-start">
                <a data-fancybox="gallery" href="/uploads/products/{{ cc }}/{{ product.image }}">
                    <img src="/uploads/products/{{ cc }}/450x450/{{ product.image }}" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-6 col-md-4">
                <p>Približná cena: {{ product.price }}</p>
                <p>Kategória: <a href="/produkty/{{ product.category|slugifilter }}">{{ product.category }}</a></p>

                {% set supermarkets_array = product.supermarkets|split(',') %}
                <p>V supermarketoch: 
                     {% for supermarket in supermarkets_array %}
                        <a href="/produkty/0/{{ supermarket|slugifilter }}">{{ supermarket }}</a>{{ " " }}
                     {% endfor %}
                </p>

                {% set tags_array = product.tags|split(',') %}
                <p>Tagy: 
                     {% for tag in tags_array %}
                        <a href="/produkty/0/0/{{ tag|slugifilter }}">{{ tag }}</a>{{ " " }}
                     {% endfor %}
                </p>


                {% if session.user_id %}
                    {% if liked %}
                        <i class="icon ion-heart icon-lg active" id="heart" data-active="true"></i>
                    {% else %}
                        <i class="icon ion-heart icon-lg" id="heart" data-active="false"></i>
                    {% endif %}
                {% endif %}

                {% if product.image2 %}
                    <p><a data-fancybox="gallery" href="/uploads/products/{{ cc }}/{{ product.image2 }}">{{ lang.INGREDIENTS }}</a></p>
                {% endif %}

                <div class="fb-like" data-layout="button" data-action="recommend" data-size="large" data-show-faces="true" data-adapt-container-width="true" data-share="true"></div>

                <div class="fb-comments" mobile="auto-detect" data-numposts="5" width='100%'></div>

            </div>


            
          </div>

	</div>
</section>




{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/bower_components/fancybox/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript">
    $.fancybox.defaults.hash = false;

    $(".fb-like").attr('data-href', window.location.href);
    $(".fb-comments").attr('data-href', window.location.href);

    $("body").on('click', '#heart', function() {
        $(this).toggleClass('active');
        if ($(this).attr('data-active') == 'true') {

            $.post('/produkty/favourites', {action: 0, id: {{ liked ?:0 }} })
                .done(function(msg) {
                        console.log('removed from favourites');
                        console.log(msg)
                        $(this).attr('data-active', 'false');

                }).fail(function(xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                });



        } else {
            var favData = {
                action: 1,
                product_id: {{ product.id }},
            }
            // send AJAX request
            $.post('/produkty/favourites', favData)
                .done(function(msg){ 

                    console.log('added to favourites');
                    console.log(msg)
                    $(this).attr('data-active', 'true');

                 })
                .fail(function(xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                });



        }
    })
</script>
{% endblock %}