{% extends "base.twig" %}

{% block title %} VegaPo - {{ product.name }} {% endblock %}

{% block header %}
<link rel="stylesheet" href="/bower_components/fancybox/dist/jquery.fancybox.min.css" />

{% endblock %}

{% block content %}

<script>

</script>

<section id="main">
  <div class="container">
  <div class="wow fadeInUp text-center">
    <h2>
    {{ product.name }}
    </h2>
  </div> 

  <br>

    <div class="row justify-content-start">
      <div class="col-lg-6 col-md-8 align-self-start">
        <a data-fancybox="gallery" 
           href="/uploads/products/{{ cc }}/{{ product.image }}">
          <img src="/uploads/products/{{ cc }}/450x450/{{ product.image }}" 
             class="img-fluid">
        </a>
      </div>
      <div class="col-lg-6 col-md-4">
        <p>Približná cena: {{ product.price }}</p>
        <p>
          Kategória: 
          <a href="/produkty?kategoria={{ product.category|slugify }}">
          {{ product.category }}
          </a>
        </p>

        {% set supermarkets_array = product.supermarkets|split(',') %}
        <p>V supermarketoch:
           {% for supermarket in supermarkets_array %}
            <a href="/produkty?supermarket={{ supermarket|slugify }}">
              {{ supermarket }}
            </a>{{ " " }}
           {% endfor %}
        </p>

        {% set tags_array = product.tags|split(',') %}
        <p>Tagy:
           {% for tag in tags_array %}
            <a href="/produkty?tag={{ tag|slugify }}">
              {{ tag }}
            </a>{{ " " }}
           {% endfor %}
        </p>

        <p>Poznámka: {{ product.note }}</p>
        <p>Čiarový kód: {{ product.barcode }}</p>
        <p>Počet srdiečok: {{ product.favourites }}</p>


        {% if session.user_id %}
          <div class="row">
            <div class="col-6">
            {% if liked %}
              <i class="icon ion-heart icon-lg active" 
                 id="heart" 
                 data-active="true"></i>
            {% else %}
              <i class="icon ion-heart icon-lg" 
                 id="heart" 
                 data-active="false"></i>
            {% endif %}
            </div>

            <div class="col-6">                      
            {% if session.user_role > 30 %}
            <a href="/admin/produkty/upravit/{{ product.id }}">
              <button class="btn btn-primary">
              Upraviť
              </button>
            </a>
            {% else %}
              {% include 'suggestions/add.twig' %}
            {% endif %}
          </div>

          </div>
        {% endif %}

        {% if product.image2 %}
          <p>
            <a data-fancybox="gallery" 
             href="/uploads/products/{{ cc }}/{{ product.image2 }}">
            <button class="btn btn-primary">
              {{ lang.INGREDIENTS }}
            </button>
            </a>
          </p>
        {% endif %}




      </div>

<!-- comments box -->
{% if session.user_id %}
<div class="col-12">
  <div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
      <form  name="comment">
        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% else %}

<div class="col-12">
  <div class="card my-4">
    <h5 class="card-header">Please log in to comment.</h5>
    <div class="card-body">
      <a href="/users/login"  class="btn btn-primary">Login</a>
      <a href="/users/register" class="btn btn-primary">Register</a>
    </div>
  </div>
</div>

{% endif %}

<div class="commentArea">
  <!-- comments -->
  {% for comment in comments %}
  <div class="media mb-4 col-12">
    <img class="d-flex mr-3 rounded-circle" 
         style="width: 50px"
         src="/uploads/users/{{ comment.avatar }}" alt="">
    <div class="media-body">
      <h5 class="mt-0">{{ comment.username }}</h5>
      {{ comment.body }}
    </div>
  </div>
  {% endfor %}
  
</div>



      </div> <!-- row -->

  </div> <!-- container -->
</section>




{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/bower_components/fancybox/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript">
  $.fancybox.defaults.hash = false;

// comment
function createComment ($username, $avatar, $text) {
  var wrap = document.createElement('div')
  wrap.setAttribute('class', 'media mb-4 col-12')
  var avatar = document.createElement('img')
  avatar.setAttribute('class', 'd-flex mr-3 rounded-circle')
  avatar.src = '/uploads/users/' + $avatar
  avatar.style = "width: 50px"
  var body = document.createElement('div')
  body.setAttribute('class', 'media-body')
  var name = document.createElement('h5')
  name.setAttribute('class', 'mt-0')
  name.innerText = $username
  var p = document.createElement('p')
  p.innerText = $text

  body.appendChild(name)
  body.appendChild(p)
  wrap.appendChild(avatar)
  wrap.appendChild(body)
  var area = document.querySelector('.commentArea')

  area.insertBefore(wrap, area.firstChild)
}

document.querySelector('form[name=comment] button').addEventListener(
  'click', 
  function () {
    $body = document.querySelector('form[name=comment] textarea').value
    if (!$body) {
      console.log('you cannot submit empty comment');
    }
    $.post('/api/comments/add', {
      body: $body,
      product_id: {{ product.id }} 
    })
    .done(function (r) {
      console.log(r)
      createComment('{{ session.username }}', '{{ session.avatar }}', $body)
    })
    .fail(function (e, xhr) {
      console.log(e.responseText)
      console.log(xhr)
    })
  }
)

// fav button
$("body").on('click touchstart', '#heart', function() {
  $(this).toggleClass('active');
  if ($(this).attr('data-active') == 'true') {

    $.post('/produkty/favourites', {action: 0, id: {{ liked ?:0 }} })
      .done(function(msg) {
          console.log('removed from favourites');
          console.log(msg)
          $(this).attr('data-active', 'false');

      }).fail(function(xhr, status, error) {
        console.log(xhr.responseText);
        console.log(status);
        console.log(error);
      });
  } else {
    var favData = {
      action: 1,
      product_id: {{ product.id }},
    }
    // send AJAX request
    $.post('/produkty/favourites', favData)
      .done(function(msg){

        console.log('added to favourites');
        console.log(msg)
        $(this).attr('data-active', 'true');

       })
      .fail(function(xhr, status, error) {
        console.log(xhr.responseText);
        console.log(status);
        console.log(error);
      });



  }
})
</script>
{% endblock %}
