

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
              <br>  <h2 class="text-center">{{ lang.LOGIN }}</h2>
                <hr>
                        <form action="/users/login" method="post">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="loginEmail">{{ lang.EMAIL }}</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" autofocus required id="loginEmail" name="loginEmail" aria-describedby="emailHelp" placeholder="{{ lang.LOGIN_EMAIL }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="loginPassword">{{ lang.PASSWORD }}</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="{{ lang.YOUR_PASSWORD}}" required>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">{{ lang.SUBMIT }}</button>
        </form>
        <br>
              <a href="{{ fbLoginUrl('fb_login_callback') }}">facebook login</a>
            </div>
        </div>
    </div>
</div>
