{% extends "admin/base.twig" %}

{% block title %}VegaPo - {{ lang.PRODUCTS }} {% endblock %}

{% block header %} {{ lang.PRODUCTS }} {% endblock %}

{% block button %} <a class="btn btn-primary" href="{{ url.PRODUCT_ADD }}">{{ lang.PRODUCT_NEW }}</a> {% endblock %}

{% block page_menu %}
<div class="row">
            <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="supermarketsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_supermarket.name ?: lang.SUPERMARKETS }}
              </button>
                 <div class="dropdown-menu" aria-labelledby="supermarketsDropDown">
                 {% for supermarket in supermarkets %}
                    {% if current_supermarket.slug != supermarket.slug %}
                     <a class="dropdown-item" href="/admin{{ buildUrl(params, 'supermarket', supermarket.slug) }}">
                        {{ supermarket.name }}
                    </a>
                    {% endif %}
                   {% endfor %}
              </div>
             </div>
             <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="supermarketsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{ current_category.name ?: lang.CATEGORIES }}  
                 </button>
                 <div class="dropdown-menu" aria-labelledby="supermarketsDropDown">
                 {% for category in categories %}
                    {% if category.slug != current_category.slug %}
                      <a class="dropdown-item" href="/admin{{ buildUrl(params, 'kategoria', category.slug) }}">
                        {{ category.name }}
                    </a>
                    {% endif %}
                   {% endfor %}
              </div>
             </div>
             <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="tagsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_tag.name ?: lang.TAGS }}
              </button>
                 <div class="dropdown-menu" aria-labelledby="tagsDropDown">
                 {% for tag in tags %}
                    {% if current_tag.slug != tag.slug %}
                        <a class="dropdown-item" href="/admin{{ buildUrl(params, 'tag', tag.slug) }}">
                            {{ tag.name }}
                        </a>
                    {% endif %}
                   {% endfor %}
              </div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-striped sortable">
                    <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>{{ lang.TITLE }}</th>
                        <th>{{ lang.CATEGORY }}</th>
                        <th>{{ lang.SUPERMARKETS }}</th>
                        <th>{{ lang.TAGS }}</th>
                        <th>{{ lang.PRICE }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if products %}
                    {% for item in products %}
                    <tr>
                        <td><a href="{{ url.PRODUCT_ADMIN_EDIT }}{{ item.id }}">{{ item.id }}</a></td>
                        <td>
                            {% if item.image != "none" %}
                            <a rel="popover" data-img="{{ url.PRODUCT_UPLOADS }}/{{ cc }}/150x150/{{ item.image }}">{{ item.name }}</a>
                            {% else %}
                            {{ item.name }}
                            {% endif %}
                        </td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.supermarkets }}</td>
                        <td>{{ item.tags }}</td>
                        <td>{{ item.price }}</td>


                    </tr>

                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for i in 1..number_of_pages if number_of_pages %}
                    <li class="page-item">
                        <a class="page-link" href="/admin{{ buildUrl(params, 'p', i) }}">
                            {{ i }}
                        </a>
                    </li>

                    {% endfor %}
                </ul>
            </nav>
        </div>

{% endblock %}