{% extends "admin/base.twig" %}

{% block title %}VegaPo - {{ lang.PRODUCTS }} {% endblock %}

{% block header %} {{ lang.PRODUCTS }} {% endblock %}

{% block button %} <a class="btn btn-primary" href="{{ url.PRODUCT_ADMIN_ADD }}">{{ lang.PRODUCT_NEW }}</a> {% endblock %}

{% block page_menu %}
<div class="row">
    <div class="col-md-4">
            <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="supermarketsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ lang.SUPERMARKETS }}
              </button>
                 <div class="dropdown-menu" aria-labelledby="supermarketsDropDown">
                 {% for supermarket in supermarkets %}
                  <a class="dropdown-item" href="/admin/produkty/{{ current_category ? current_category.slug : 0 }}/{{ supermarket.slug }}">{{ supermarket.name }}</a>
                   {% endfor %}
              </div>
             </div>
        </div>
        <div class="col-md-4">
             <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="supermarketsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ lang.CATEGORIES }}
              </button>
                 <div class="dropdown-menu" aria-labelledby="supermarketsDropDown">
                 {% for category in categories %}
                  <a class="dropdown-item" href="/admin/produkty/{{ category.slug }}/{{ current_supermarket ? current_supermarket.slug : 0 }}">{{ category.name }}</a>
                   {% endfor %}
              </div>
             </div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
     <!--   {% if categories %}
            <select id="select-category">
                {% if current_category %}
                <option value="0">{{ current_category.name }}</option>
                {% else %}
                <option value="0">{{ lang.CATEGORIES_ALL }}</option>
                {% endif %}

                {% for category in categories %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
                {% endfor %}
                {% if current_category %}
                <option value="0">{{ lang.CATEGORIES_ALL }}</option>
                {% endif %}
            </select>
            {% endif %}
            {% if supermarkets %}
            <select id="select-supermarket">
                {% if current_supermarket %}
                <option value="0">{{ current_supermarket.name }}</option>
                {% else %}
                <option value="0">{{ lang.SUPERMARKETS_ALL }}</option>
                {% endif %}

                {% for supermarket in supermarkets %}
                <option value="{{ supermarket.slug }}">{{ supermarket.name }}</option>
                {% endfor %}
                {% if current_supermarket %}
                <option value="0">{{ lang.SUPERMARKETS_ALL }}</option>
                {% endif %}

            </select>

            {% endif %}
-->


            <div class="table-responsive">
                <table class="table table-striped sortable">
                    <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>{{ lang.TITLE }}</th>
                        <th>{{ lang.CATEGORY }}</th>
                        <th>{{ lang.SUPERMARKETS }}</th>
                        <th>{{ lang.TAGS }}</th>
                        <th>{{ lang.PRICE }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if products %}
                    {% for item in products %}
                    <tr>
                        <td><a href="{{ url.PRODUCT_ADMIN_EDIT }}{{ item.id }}">{{ item.id }}</a></td>
                        <td>
                            {% if item.image != "none" %}
                            <a rel="popover" data-img="{{ url.PRODUCT_UPLOADS }}{{ item.image }}-thumb">{{ item.name }}</a>
                            {% else %}
                            {{ item.name }}
                            {% endif %}
                        </td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.supermarkets }}</td>
                        <td>{{ item.tags }}</td>
                        <td>{{ item.price }}</td>


                    </tr>

                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for i in 1..number_of_pages if number_of_pages %}
                    <li class="page-item"><a class="page-link" href="/produkty/{{ current_category ? current_category.slug : 0 }}/{{ current_supermarket ? current_supermarket.slug : 0 }}/{{ current_tag ? current_tag.slug : 0}}/{{ i }}">{{ i }}</a></li>

                    {% endfor %}
                </ul>
            </nav>
        </div>

{% endblock %}