{% extends "admin/base.twig" %}

{% block title %}VegaPo - {{ lang.PRODUCT_EDIT }} {% endblock %}

{% block header %} {{ lang.PRODUCT_EDIT }} {% endblock %}

{% block content %}

<form class="row" enctype="multipart/form-data" method="post">
  <div class="col-md-5">

    <div class="form-group">
      <label for="productName">
        {{ lang.PRODUCT_NAME }}
      </label>
      <input type="text" 
             class="form-control" 
             name="productName" 
             id="productName" 
             value="{{ product.name }}" 
             required>
    </div>

    <div class="form-group">
      <label for="productPrice">
        {{ lang.PRICE }}
      </label>
      <input type="number" 
             class="form-control" 
             name="productPrice" 
             id="productPrice" 
             min="0.1" 
             max="999" 
             step="any" 
             value="{{ product.price }}" 
             required>
    </div>

    <div class="form-group barcode-group">
      <label for="barcode">
        {{ lang.BARCODE }}
      </label>
      <div class="input-group">
        <input type="text" 
               class="form-control isbn" 
               name="barcode" 
               id="barcode" 
               value="{{ product.barcode }}">
        <span class="input-group-btn">
          <button class="btn btn-secondary button scan" 
                  type="button">
            <i class="fa fa-barcode" 
               aria-hidden="true"></i>
          </button>
          <input type="file" 
                 class="barcodefile" 
                 capture 
                 hidden>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="selectCategory">
        {{ lang.CATEGORY }}
      </label>
      <select class="form-control" 
              name="selectCategory" 
              id="selectCategory" 
              required>
        <option value="{{ product.category_id }}" >
          {{ product.category }}
        </option>
        {% for category in categories %}
          {% if category.id != product.category_id %}
            <option value="{{ category.id }}">
              {{ category.name }}
            </option>
          {% endif %}
        {% endfor %}

      </select>
    </div>

    <div class="form-group">
      <label for="note">
        {{ lang.NOTE }}
      </label>
      <textarea name="note" 
                id="note" 
                cols="30" 
                rows="2" 
                class="form-control">{{ product.note }}</textarea>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="file">
            {{ lang.IMAGE }}
          </label>
          <input type="file" 
                 id="file" 
                 name="file" 
                 class="form-control-file">
        </div>
      </div>
      <div class="col-md-3 offset-md-2">
        {% if product.image %}
          {% set src = url.PRODUCT_UPLOADS ~ cc ~ '/150x150/' ~ product.image %}
          <img class="productImageCurrent" 
               src="{{ src }}" 
               width="100px">
        {% endif %}
        <input type="hidden" 
               value="{{ product.image }}" 
               name="image_old">
      </div>
      <div class="col-md-1">
        <i class="fa fa-repeat rotateMainImage" 
           aria-hidden="true"></i>
      </div>
    </div>

    <br>

    <div class="row">

      <div class="col-md-5">
        <div class="form-group">
          <label for="file2">
            {{ lang.INGREDIENTS }}
          </label>
          <input type="file" 
                 id="file2" 
                 name="file2" 
                 class="form-control-file">
        </div>
      </div>

      <div class="col-md-3 offset-md-3">
        {% if product.image2 %}
          <img src="{{ url.PRODUCT_UPLOADS }}{{ cc }}/150x150/{{ product.image2 }}" 
             width="100px">
        {% endif %}
        <input type="hidden" 
               value="{{ product.image2 }}" 
               name="image2_old">
      </div>

    </div> <!-- end row -->

    <p>
      Autor: <a href="/produkty?autor={{ product.user_id }}" 
                target="_blank">
        {{ product.username }}
      </a>
    </p>


    <button type="submit" class="btn btn-primary">
      {{ lang.SUBMIT }}
    </button>

    <a href="{{ url.TRASH_MOVE }}{{ product.id }}" 
       class="btn btn-danger" 
       id="deleteConfirm">
       {{ lang.REMOVE }}
     </a>

    <a href="/produkty/produkt/{{ product.name|slugify }}" 
       class="btn btn-success">
      Web
    </a>

  </div>

  <div class="col-md-3 offset-md-1">
    <p>
      {{ lang.SUPERMARKETS }}
    </p>
    {% for supermarket in supermarkets %}
    <div class="form-group">
      <label class="custom-control custom-checkbox">
        <input type="checkbox"
               id="supermarket"
               name="supermarket[]"
               class="custom-control-input"
               value="{{ supermarket.id }}"
               {% if supermarket.name in product.supermarkets %} 
                 checked 
               {% endif %} >

        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">
          {{ supermarket.name }}
        </span>
      </label>
    </div>
    {% endfor %}
    <input type="hidden" 
           name="supermarkets_old" 
           value="{{ product.supermarket_ids }}">
  </div>

  <div class="col-md-3">
    <p>{{ lang.TAGS }}</p>
    {% for tag in tags %}
      <div class="form-group">
        <label class="custom-control custom-checkbox">

          <input type="checkbox"
                 id="tag"
                 name="tag[]"
                 class="custom-control-input"
                 value="{{ tag.id }}"
                 {% if tag.name in product.tags %} checked {% endif %} >

          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">
            {{ tag.name }}
          </span>
        </label>
      </div>
    {% endfor %}
    <input type="hidden" 
           name="tags_old" 
           value="{{ product.tag_ids }}">

    <div class="form-group">
      <label>Typ</label>
      <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" 
               type="radio"
               name="type" 
               value="1"
               {{ product.type == 1 ? 'checked'}}>
        100% Vegan
      </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" 
               type="radio" 
               name="type" 
               value="2" 
               {{ product.type == 2 ? 'checked'}}>
        Pravdepodobne Vegan
      </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" 
               type="radio" 
               name="type" 
               value="3"
               {{ product.type == 3 ? 'checked'}}>
        Živočíšne éčka
      </label>
      </div>
      <small  class="form-text text-muted">
        Viac info <a href="#">tu</a>
      </small>
    </div>
  </div> <!-- end of col -->

</form>
{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="https://serratus.github.io/quaggaJS/v1.0.0-beta.1/examples/js/quagga.js"></script>
  <script type="text/javascript">

    $(".rotateMainImage").click(function (){
      $.get("/admin/produkty/rotate", {
      image: "{{ product.image }}"
      }).done(function (data){
      $(".productImageCurrent").attr("src", $(".productImageCurrent").attr("src")+"?timestamp=" + new Date().getTime());
      })
    });

    var Quagga = window.Quagga;
    var App = {
      _scanner: null,
      init: function() {
        this.attachListeners();
      },
      decode: function(src) {
        Quagga
          .decoder({readers: ['ean_reader']})
          .locator({patchSize: 'medium'})
          .fromSource(src, {size: 800})
          .toPromise()
          .then(function(result) {
            document.querySelector('input.isbn').value = result.codeResult.code;
          })
          .catch(function() {
            document.querySelector('input.isbn').value = "Not Found";
          })
          .then(function() {
            this.attachListeners();
          }.bind(this));
      },
      attachListeners: function() {
        var self = this,
          button = document.querySelector('.barcode-group .button.scan'),
          fileInput = document.querySelector('.barcode-group input[type=file]');

        button.addEventListener("click", function onClick(e) {
          e.preventDefault();
          button.removeEventListener("click", onClick);
          fileInput.click();
        });

        fileInput.addEventListener("change", function onChange(e) {
          e.preventDefault();
          fileInput.removeEventListener("change", onChange);
          if (e.target.files && e.target.files.length) {
            self.decode(e.target.files[0]);
          }
        });
      }
    };
    App.init();


  </script>
{% endblock %}
