{% extends "admin/base.twig" %}

{% block title %}VegaPo - {{ lang.OVERVIEW }} {% endblock %}

{% block css %}
    <style type="text/css">

    .card {
        margin-bottom: 20px;
    }

    </style>
{% endblock %}

{% block header %} {{ lang.OVERVIEW }} {% endblock %}

{% block content %}

    <div class="row mb-3">
        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse card-success">
                <div class="card-block bg-success">
                    <div class="rotate">
                        <i class="fa fa-cutlery fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.NUMBER_OF_PRODUCTS }}</h6>
                    <h1 class="display-1">{{ numberOfProducts }}</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse card-danger">
                <div class="card-block bg-danger">
                    <div class="rotate">
                        <i class="fa fa-folder fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.NUMBER_OF_CATEGORIES }}</h6>
                    <h1 class="display-1">{{ numberOfCategories }}</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse card-info">
                <div class="card-block bg-info">
                    <div class="rotate">
                        <i class="fa fa-shopping-cart fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.NUMBER_OF_SUPERMARKETS }}</h6>
                    <h1 class="display-1">{{ numberOfStores }}</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse card-warning ">
                <div class="card-block bg-warning">
                    <div class="rotate">
                        <i class="fa fa-check-square-o fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.NUMBER_OF_REQUESTS }}</h6>
                    <h1 class="display-1">{{ numberOfRequests }}</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse" style="border-color: #232925">
                <div class="card-block" style="background-color: #232925">
                    <div class="rotate">
                        <i class="fa fa-check-square-o fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.NUMBER_OF_USERS }}</h6>
                    <h1 class="display-1">{{ numberOfUsers }}</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse " style="border-color: #7b217b">
                <div class="card-block" style="background-color: #7b217b">
                    <div class="rotate">
                        <i class="fa fa-check-square-o fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.NUMBER_OF_MESSAGES }}</h6>
                    <h1 class="display-1">{{ numberOfMessages }}/{{ numberOfMessagesAnswered }}</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse card-primary ">
                <div class="card-block bg-primary">
                    <div class="rotate">
                        <i class="fa fa-check-square-o fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.NUMBER_OF_EMAILS }}</h6>
                    <h1 class="display-1">{{ numberOfEmails }}</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse" style="border-color: #a2a2a2">
                <div class="card-block " style="background-color: #a2a2a2">
                    <div class="rotate">
                        <i class="fa fa-check-square-o fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.NUMBER_OF_SUGGESTIONS }}</h6>
                    <h1 class="display-1">{{ numberOfSuggestions }}/{{ numberOfSuggestionsHandled }}</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse" style="border-color: coral">
                <div class="card-block " style="background-color: coral">
                    <div class="rotate">
                        <i class="fa fa-check-square-o fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.TRASH }}</h6>
                    <h1 class="display-1">{{ numberOfTrashProducts }}</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card card-inverse" style="border-color: DeepPink ">
                <div class="card-block " style="background-color: DeepPink ">
                    <div class="rotate">
                        <i class="fa fa-check-square-o fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">{{ lang.TESTIMONIALS }}</h6>
                    <h1 class="display-1">{{ numberOfTestimonials }}</h1>
                </div>
            </div>
        </div>



    </div>
     <hr>
    <div class="row">
        <div class="col">
            Ak sa vám zobrazí nejaká "error message", ktorej nerozumiete, prosím spravte screenshot a pošlite mi ho na vrzala.matej@gmail.com alebo facebook Matej Vrzala.
        </div>
    </div>
<br><hr>
    <div class="row">
        <div class="col">
            Ak máte nápad na lepšie farby pre tieto štatistické boxy, kľudne mi dajte vedieť. :D
        </div>
    </div>
    <hr>

{% endblock %}
