{% extends "web/base.twig" %}

{% block title %}VegaPo - {{ title }} {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block content %}

<section id="main">
	<div class="container">
		<div class="wow fadeInUp text-center"><h2>{{ title }}</h2></div>
    {% if stats %}
      <h1>{{ lang.STATS_PRODUCTS_ALL }}: {{ stats.products_all }}</h1>
      <div class="container">
         <div class="row">
          <div class="col">
             <canvas id="products_graph" width="300" height="300"></canvas>
          </div>
          <div class="col">
            <canvas id="products_time_graph" width="600" height="300"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <canvas id="products_tag_graph" width="300" height="200"></canvas>
          </div>
          <div class="col">
            <canvas id="products_categories_graph" width="300" height="200"></canvas>
          </div>
          <div class="col">
            <canvas id="products_supermarkets_graph" width="300" height="200"></canvas>
          </div>
        </div>
      </div>
      </br>
      <h1>{{ lang.STATS_USERS_ALL }}: {{ stats.users_all }}</h1>
      <div class="container">
        <div class="row">
          <div class="col">
             <canvas id="users_graph" width="300" height="300"></canvas>
          </div>
          <div class="col">
            <canvas id="users_time_graph" width="600" height="300"></canvas>
          </div>
        </div>
      </div>
      </br>
      <h1>{{ lang.STATS_SUGGESTIONS_ALL }}: {{ stats.suggestions_all }}</h1>
      <div class="container">
        <div class="row">
          <div class="col">
             <canvas id="suggestions_graph" width="300" height="300"></canvas>
          </div>
          <div class="col">
            <canvas id="suggestions_time_graph" width="600" height="300"></canvas>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
      <script type="text/javascript" src="/bower_components/palette.js/palette.js"></script>

      <script>
        // var color_pallete = ['cb-Paired','tol-dv'];
        var color_pallete = ['tol-dv'];

        function doughnutGraph(dom_id, data_x, data_y, label) {
          var bckg_color = palette(color_pallete, data_x.length).map(function(hex) {
            return '#' + hex;
          });
          new Chart(document.getElementById(dom_id), {
            type: 'doughnut',
            data: {
              labels: data_x,
              datasets: [{
                data: data_y,
                borderWidth: 1,
                backgroundColor: bckg_color
              }]
            },
            options: {
              legend: {
                display: false
              },
              responsive: false,
              title:{
                  display:true,
                  text: label,
              },
            }
          });
        };

        function barGraph(dom_id, data_x, data_x2, data_sk_y, data_cz_y, label) {
          var bckg_color = palette(color_pallete, data_x.length).map(function(hex) {
            return '#' + hex;
          });
          new Chart(document.getElementById(dom_id), {
            type: 'bar',
            data: {
              labels: data_x2,
              datasets: [{
                label: data_x[0],
                backgroundColor: bckg_color[0],
                data: data_sk_y,
              },
              {
                label: data_x[1],
                backgroundColor: bckg_color[1],
                data: data_cz_y,
              }]
            },
            options: {
              title:{
                  display:true,
                  text: label,
              },
              legend: {
                display: false
              },
              tooltips: {
                mode: 'index',
                intersect: false
              },
              responsive: false,
              scales: {
                xAxes: [{
                  stacked: true,
                 }],
                 yAxes: [{
                   stacked: true,
                 }],
               },
             }
          });
        };

        /*
        products
        */
        doughnutGraph("products_graph",
          {{ stats.products_datasets_data_x|raw }},
          {{ stats.products_datasets_data_y|raw }},
          '{{ lang.STATS_PRODUCTS_COUNTRY }}');
        /*
        new products over time
        */
        barGraph("products_time_graph",
          {{ stats.products_datasets_data_x|raw }},
          {{ stats.products_time_datasets_data_x|raw }},
          {{ stats.products_time_datasets_data_sk_y|raw }},
          {{ stats.products_time_datasets_data_cz_y|raw }},
          '{{ lang.STATS_PRODUCTS_TIME }}');
        /*
        products tags
        */
        doughnutGraph("products_tag_graph",
          {{ stats.products_tag_datasets_data_x|raw }},
          {{ stats.products_tag_datasets_data_y|raw }},
          '{{ lang.STATS_PRODUCTS_TAGS }}');
        /*
        products categories
        */
        doughnutGraph("products_categories_graph",
          {{ stats.products_categories_datasets_data_x|raw }},
          {{ stats.products_categories_datasets_data_y|raw }},
          '{{ lang.STATS_PRODUCTS_CATEGORIES }}');
        /*
        products supermarkets
        */
        doughnutGraph("products_supermarkets_graph",
          {{ stats.products_supermarkets_datasets_data_x|raw }},
          {{ stats.products_supermarkets_datasets_data_y|raw }},
          '{{ lang.STATS_PRODUCTS_SUPERMARKETS }}');
        /*
        users
        */
        doughnutGraph("users_graph",
          {{ stats.users_datasets_data_x|raw }},
          {{ stats.users_datasets_data_y|raw }},
          '{{ lang.STATS_USERS_COUNTRY }}');
        /*
        new tags over time
        */
        barGraph("users_time_graph",
          {{ stats.users_datasets_data_x|raw }},
          {{ stats.users_time_datasets_data_x|raw }},
          {{ stats.users_time_datasets_data_sk_y|raw }},
          {{ stats.users_time_datasets_data_cz_y|raw }},
          '{{ lang.STATS_USERS_TIME }}');
        /*
        suggestions
        */
        doughnutGraph("suggestions_graph",
          {{ stats.suggestions_datasets_data_x|raw }},
          {{ stats.suggestions_datasets_data_y|raw }},
          '{{ lang.STATS_SUGGESTIONS_COUNTRY }}');
        /*
        new suggestions over time
        */
        barGraph("suggestions_time_graph",
          {{ stats.suggestions_datasets_data_x|raw }},
          {{ stats.suggestions_time_datasets_data_x|raw }},
          {{ stats.suggestions_time_datasets_data_sk_y|raw }},
          {{ stats.suggestions_time_datasets_data_cz_y|raw }},
          '{{ lang.STATS_SUGGESTIONS_TIME }}');
      </script>

    {% else %}
      {{ parsedown|raw }}
    {% endif %}
	</div>
</section>

{% endblock %}
